.submit {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.Modifying {
  align-self: center;
  width: 80%;
  margin-left: 40%;
  margin-top: 20%;
}
